body {
  text-align: center;
  background-color: #011f3f;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/* Base Styles - for mobile (default) */
.container {
  display: block;
  width: 90%;
  margin: auto;
}

.btn {
  margin: 15px;
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 10px solid black;
  border-radius: 20%;
}

/* Tablet: 756px and up */
@media (min-width: 756px) {
  .btn {
    height: 100px;
    width: 100px;
  }
}

/* Desktop: 1280px and up */
@media (min-width: 1280px) {
  .container {
    width: 40%;
  }

  .btn {
    height: 150px;
    width: 150px;
  }
}
